@font-face {
	font-family: 'raleway' ;
	src: url(Raleway/Raleway/static/Raleway-Medium.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'raleway-bold' ;
	src: url(Raleway/static/Raleway-SemiBold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

#hebergements
{
	background-color: #F2F2F2;
	font-family: raleway, sans-serif;
	width: 61.2%;
	height: 626px;
	overflow: hidden;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
}

.case img
{
	height: 50%;
	width: 96.6%;
}

.case
{
	height: 46.6%;
	width: 31%;
	background-color: white;
}

