@font-face {
	font-family: 'raleway' ;
	src: url(Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'raleway-bold' ;
	src: url(Raleway/static/Raleway-SemiBold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
#bloc_page /* Mise en place de la police */
{
	font-family: raleway,'Trebuchet MS', Arial, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
}

#reservia /* Mesurer les dimensions du logo sur Gimp */
{
	width: 95px;
	height:40px ;
	margin-top: 30px;
	margin-bottom: 35px;
}

h1
{
	font-size: 1.2em;
	font-family: raleway-bold;

}

#inscrire
{
	font-family: raleway-bold;
}

header p
{
	font-size: 0.8em;
	font-weight: thin;
}


#logo_nav /* Menu nav placé correctement */
{
	color: #0065FC;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: flex-start;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li /* Mesurer la distance en px entre chaque element de la liste */
{
	margin-right: 70px
}

#heberge /* Reduction des images */
{
	height:115px;
	width: 240px;
	border-radius: 10px 10px 0 0;
}

aside img
{
	width: 128px;
	height: 133px;
	border-radius: 10px;
}
#hebergements
{
	background-color: #F2F2F2;
	height: 626px;
	width: 880px;
	padding-top: 48px;
	border-radius: 10px;
}
article h2
{
	padding-left: 42px;

}

article p
{
	padding-left: 42px;
}
#Flex
{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 10px;
	padding-left: 35px;
	padding-right: 35px;
	
}
 #Flex p
 {
 	display: flex;
 	justify-content: flex-start;
 }


#cannebiere
{
	background-color: white;
	height:200px;
	width:249px;
	margin-bottom: 28px;
	padding-left: 8px;
	padding-top: 5px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px grey;
}

aside
{
	background-color: #F2F2F2;
	width: 420px;
	height: 626px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 48px;
	padding-left: 33px;
	border-radius: 10px;
	position: absolute;
	right: 0;
	top: 291px;

}

#aside
{
	display:flex;
	align-items: center;
	width: 345px;
	height: 145px;
	background-color: white;
	padding-left: 5px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px grey;
}


footer /*Mise en ordre du footer */
{
	background-color: #F2F2F2;
	display:flex;
	padding-top: 47px;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: 360px;

}
footer h1
{
	font-size: 1.1em;
}

footer p
{
	font-size: 0.8em;
}

#activites
{
	display: flex;
	flex-direction: column;

}

#grandes
{
	height: 390px;
	width: 303px;
	border-radius: 10px 10px 0px 0px;
}

#frioul
{
	height: 109px;
	width: 303px;
	border-radius: 10px 10px 0px 0px;
}

#pomegues
{
	height: 180px;
	width: 303px;
	border-radius: 10px 10px 0px 0px;
}

#garde
{
	height: 139px;
	width: 303px;
	border-radius: 10px 10px 0px 0px;
}

#longchamp
{
	height: 153px;
	width: 303px;
	border-radius: 10px 10px 0px 0px;
}