
@font-face {
	font-family: raleway-bold;
	src: url(Raleway/static/Raleway-Medium.ttf);
	font-weight: normal;
}
@font-face{
	font-family: raleway-bold;
	src: url(Raleway/static/Raleway-Bold.tff);
	font-weight: bold;
}

@media all and (max-width: 2000px)
{
#bloc_page /* Mise en place de la police */
{
	font-family: "raleway-bold",'Trebuchet MS', Arial, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: black;
	margin-left: 3.3%;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1500px;
	margin: auto;
}

a:visited /*Garder les liens hypertextes même après visite*/
{
	color: #0065FC;
}

/*header*/

header
{
	width: 90%;
	margin-top: 10px;
}
#reservia /* Placement et dimensions du logo */
{
	width: 30%;
	min-width: 100px;
	height:80%;
	min-height: 50px;
	margin-top: 1.5%;
	margin-bottom: 2.4%;
}

header h1 /*Gestion du titre dans l'en-tête*/
{
	font-size: 1.2em;
	font-weight: bold;

}

header a /* Afficher les hypertextes correctement */
{
	color: #0065FC ;
	text-decoration: none;
}

nav
{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#nav_1
{
	margin-left: 48%;
	margin-top: -10px;
	padding-top: 50px;
	text-align: center;
	width: 15%;
}

#nav_1:hover
{
	border-top: 2px solid  #0065FC ;
}

#nav_2 a
{
	color: black;

}

#nav_2
{
	margin-left: 30px;
	margin-top: -10px;
	padding-top: 50px;
	text-align: center;
	width: 15%;
}

#nav_2:hover
{
	border-top: 2px solid  black ;
}

#nav_3
{	
	font-weight: bold;
	margin-left: 30px;
	font-size: 0.9em;
	margin-top: -10px;
	padding-top: 50px;
	text-align: center;
	width: 15%;
}

#nav_3:hover
{
	border-top: 2px solid  #0065FC ;
}

header p
{
	font-size: 0.9em;
}

/*Boutons filtres*/
#filtres
{
	margin-right: 20%;
	font-weight: bold;
}

#filtres a
{
	color: black;
	text-decoration:none;
}

#filtres button:hover /* Reaction du lien lors du survol */
{
	background-color: #0065FC;
	color: white;
	border: 1px solid rgb(21,50,164);
	
}

#filtres i
{
	padding: 0.75em;
	margin-right: 1em;
	margin-left: -15%;
	margin-top: -0.75%;
	border: 0px black solid;
	border-radius: 10em;
	background-color: #DEEBFF;
	color: #0065FC;
}

#bonhomme i
{
	width: 15%;
	margin-top: -1%;
}
#chien i
{
	margin-top: -0.5px;
}
#filtres button
{
	font-size: 1em;
	height: 2.5em;

	padding-right: 2%;
	margin-top: 3.4%;
	margin-right: 2%;

	border: 0.15px #D9D9D9 solid;
	border-radius: 10em;
	background-color: white;
	vertical-align: sub;
}



#filtres h2
{
	display: inline;
	font-size: medium;
	font-weight: bolder;
	margin-right: 2.1%;
}

/*Boutons de recherche*/
#recherche
{
	display: flex;
}

#recherche button
{
	background-color: #0065FC;
	font-size: 1.0em;
	color: white;
	height: 100%;
	width: 110%;
	border-radius: 0px 10px 10px 0px;
	border: 0px black solid;
	margin-left: -2%;

}

#cherche i
{
	color: #0065FC;
}
#text_button
{
	margin-left: -13%;
}
#recherche input
{	
	padding-left: 1%;
	width: 20%;
	height: 2.6em;
	border: 0.15px #F2F2F2 solid;
	font-size: 1.1em;
}
#localisation button
{
 	background-color: #F2F2F2;
 	color: black;
 	width: 3em;
 	height: 100%;
 	margin-right: -5px;
 	border-radius: 10px 0px 0px 10px;
}

/* image sous les filtres */
#info i
{
	font-size: 1em;
	height: 1em;
	color: #0065FC;

	padding: 5px 9px 5px;
	margin-right: 13px;

	border: 0.15px #D9D9D9 solid;
	border-radius: 10em;
	background-color: white;
}

#info
{
	color: #2D2D2D;
}

form p
{
	color: #202020;
}

/* Section 1*/
#hebergements a:hover
{
	text-decoration: underline
}

.case
{
	background-color: white;
	height: 40%;
	width: 31%;
	margin: auto;
	margin-bottom: 3%;
	
	padding-top: 0.5%;
	border-radius: 10px;
	box-shadow: 1px 1px 5px grey;
}


.case img /* Reduction des images */
{	
	object-fit: cover;
	height: 57%;
	width: 96.6%;
	border-radius: 10px 10px 0 0;
	display: block;
	margin:auto;
}


#hebergements
{
	background-color: #F2F2F2;
	height: 626px;
	width: 61.2%;
	padding-top:2.5%;
	border-radius: 10px;
	margin-top: 3%;
}
#hebergements h2
{
	margin-left: 5%;
	margin-top: 1.5%;
}
#afficher a
{
	margin-left: 5%;
	font-weight: bold;
	text-decoration: none;
	color: black;
}


#hebergements2 /* Mise en place des boîtes cliquables de l'article 1*/
{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 10px;
	margin:auto;
	height: 68.7%;
	width: 91%;
}


.case h3
{	
	font-weight: bold;
	font-size: 0.9em;
	margin-top: 2%;
	margin-left: 8%;
}

.case p
{
	font-size: 0.7em;
	margin-top: -15px;
	margin-left: 8%;
}

.etoiles_1
{
	margin-top: -2%;
	font-size: 0.7em;
}

.case i
{
	color: #0065FC ;
	margin-top: 1.5%;
	font-size: 0.7em;
}
.case a
{
	text-decoration: none;
	color: black;
}


/*Aside*/
#aside a
{
	color: black;
	text-decoration: none;
}

#aside a:hover
{
	text-decoration: underline;
}

#populaires
{
	background-color: #F2F2F2;
	width: 30%;
	height: 642px;
	padding-top:1.5%;
	padding-left: 2.3%;
	border-radius: 10px;
	margin-top: 3%;
	position: relative;
	right: 0;
}

#aside
{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	width: 82.10%;
	height: 80%;
	background-color: #F2F2F2;
	margin-top: 13%;

}

.A
{
	margin-top: -4%;
	width: 100%;
	height: 24%;
	max-width: 350px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	
	box-shadow: 1px 1px 5px grey;
	border-radius: 10px;
	font-size: 1em;
	padding-left: 1%;


	background-color: white;

}

.A img
{
	width: 37.2%;
	height: 93.75%;
	border-radius: 10px 0px 0px 10px;
	margin: auto;
	margin-left: 0.5%;
}

.A a
{
	padding-right: 1%;
	margin-left: 1%;
	
}

.A h3
{
	font-size: 0.9em;
	margin-right: 20%;
}

.A p
{
	font-size: 0.7em;
	margin-right: -20%;
}

.B
{	
	margin-top: -4%;
	width: 100%;
	height: 25%;
	max-width: 350px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	
	box-shadow: 1px 1px 5px grey;
	border-radius: 10px;
	font-size: 1em;
	padding-left: 1%;
	background-color: white;


}

.B img
{
	width: 37.2%;
	height: 93.75%;
	border-radius: 10px 0px 0px 10px;
	margin: auto;
	margin-left: 0.5%;
}

.B a
{
	padding-right: 15.5%;
	margin-left: 1%;

}

.B h3
{
	font-size: 0.9em;
	margin-bottom: -9%;
	margin-right: -30%;
}
#etoiles
{
	margin-top: 13%;
}

.B p
{
	margin-top: 18%;
	margin-right: -30%;
	font-size: 0.7em;
}

.B i 
{
	color: #0065FC ;
	margin-top: 2%;
	font-size: 0.8em;
}

.A i
{
	color: #0065FC ;
	margin-top: 2%;
	font-size: 0.8em;
}

h2 i
{
	margin-left: 15%;
}



/* Article 2*/
#activites
{
	width: 93.1%;
	height: 26.1%;
	position: relative;
	margin-bottom: 3.3%;
	left: -1.2%;

	
}

#activites2
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 400px;
	width: 100%;
	margin-left: -1%;

	
}

#activites a:hover
{
	text-decoration: underline;
}

#activites2 a
{
	margin-right: 0.3%;
	margin-bottom: 8.6%;
	text-decoration: none;
	color: black;

}

#activites2 h3
{
	margin-left: 6.25%;
	font-size: 0.9em;
	font-weight: bold;
}


.activites_grandes
{	
  	height: 100%;
	width: 22.6%;
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
	
}

.activites_pomegues
{
	height: 50.3%;
	width: 22.6%;
	
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
}

.activites_frioul
{
	height: 36.7%;
	width: 22.6%;
	
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	left: 25.4%;
}

.activites_garde
{
	height: 42%;
	width: 22.6%;
	
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
}

.activites_longchamp
{
	height: 45%;
	width: 22.6%;
	
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	right: 2%;
}

.GR
{	
	object-fit: cover;
	height: 87.4%;
	width:100%;
	border-radius: 10px 10px 0px 0px;
}

#F
{	
	object-fit: cover;
	height: 67.1%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#P
{	
	object-fit: cover;
	height: 75.6%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#G
{	
	object-fit: cover;
	height: 70.9%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#L
{	
	object-fit: cover;
	height: 73.2%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

/*Footer*/

footer
{
	background-color: #F2F2F2;
	
	
	width: 67%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: 30%;
}

footer ul
{
	list-style-type: none;
}

footer li:hover
{
	text-decoration: underline;
}

footer li
{
	font-size: 0.8em;
	margin-bottom: 8%;
	color: #2D2D2D;
}

.titre
{
	font-weight: bold;
	font-size: 1em;
	color: black;
}
#a_propos a
{
	color: black;
	text-decoration: none;
}

#nos_hebergements a
{
	color: black;
	text-decoration: none;
}

#assistance a
{
	color: black;
	text-decoration: none;
}
.titre:hover
{
	text-decoration: none;
}
}

@media all and (min-width: 320px) and (max-width: 767px) /* Version mobile */
{
	#bloc_page
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-left: -1.5%;
	}

	nav
	{
		width: 100%;
		height: 180px;
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: repeat(2, 50%);
	}

	#reservia
	{	
		width: 80%;
		max-width: 100px;
		height: 80%;
		min-height: 50px;
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 1;
		grid-column-end: 2;
		align-self: start;
	}

	#nav_1
	{	
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: center;
		align-self: center;
		height: 2em;
		width: 100%;
		margin-left: 0;
		border-bottom: 3px solid #f2f2f2;
	}
	#nav_2
	{	
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 3;
		grid-column-end: 5;
		text-align:center;
		height: 2em;
		width: 100%;
		align-self: center;
		margin-left: 0;
		border-bottom: 3px solid #f2f2f2;
		
	}

	#nav_3
	{	
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 4;
		grid-column-end: 5;
		justify-self: end;
		align-self: center;
		width: 100%;
		margin-left: 0;
	}

	#nav_1:hover
	{
		text-decoration: none;
		border-bottom: 3px #0065FC solid;
		border-top: 0;
	}

	#nav_2:hover
	{	
		text-decoration: none;
		border-bottom: 3px black solid;
		border-top: 0;
	}

	#nav_3:hover{
		border-top: 0;
	}

	header h1
	{	
		margin-top:0;
		width: 90%;
	}

	

	#localisation button
	{
		width: 3em;
		height: 2.5em;
	}

	#localisation i
	{	
		margin-right: 25%;
	}

	#recherche input
	{
		width: 67%;
		margin-left: -1%;
		height: 2.27em;
		padding-left: 5%;
	}

	#cherche button
	{
		width: 2.8em;
		border-radius: 10px;
		margin-left: -12%;
		height: 2.5em;
	}

	#cherche p
	{
		display: none;
	}

	#cherche i
	{
		color: white;
	}

	form
	{
		margin-top: 10%;
		margin-bottom: 10%;
	}

	#text_button
	{
		display: none;
	}

	#filtres
	{	
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-right: -10%;
		margin-bottom: 10%;
		margin-top: 7%;
	}

	#filtres h2
	{
		margin-bottom: 2%;
	}

	#filtres button
	{
		margin-right: 2%;
		height: 2.60em;
		margin-bottom: 0;

	}

	#dollar
	{
		margin-left: -2px;
		width: 175px;
	}
	#coeur i
	{
		padding: 1.5em;
		width: 14%;
		margin-top: -1px;
	}

	#coeur
	{
		margin-left: -2px;
	}

	#bonhomme i
	{
		padding: 0.5em;
	}
	#chien i
	{
		margin-top: -1px;
	}
	#filtres i
	{	
		padding: 0.8em;
		border-radius: 2em;
		text-align: center;
		vertical-align: middle;
		font-weight: bold;
	}

	#filtres h2
	{	
		margin-top: 5%;
		display: inline;
		margin-right: 90%;
		font-weight: bold;
	}

	form p
	{
		width:95%;
		margin-left: 10%;
	}

	#info
	{
		margin-left: -13.75%;
	}

	
	header
	{
		width: 90%;
	}

	#populaires /* Aside sur version mobile */
	{
		order: 1;
		width: 98%;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		border-radius: 0;
	}


	#populaires h2
	{
		text-align: center;
		margin-top: 10%;
		font-size: 1.4em;
	}

	.A
	{	
		width: 98%;
		max-width: 375px;
		height: 29%;
		margin: auto;
		margin-top: 3%;
		border-radius: 20px;
	}

	.A img
	{
		margin-left: 0.5%;
		max-width: 150px;
		border-radius: 20px 0 0 20px;
	}

	.A h3
	{
		font-size: 0.9em;
		margin-left: 8%;
		margin-right: -5%;
	}

	.A p
	{	
		font-size: 0.8em;
		margin-top: -4%;
		margin-left: 8%;
		margin-bottom: 30%;
	}

	.B
	{
		width: 98%;
		max-width: 375px;
		height: 30%;
		margin: auto;
		margin-top: 3%;
		border-radius: 20px;
	}
	
	.B img
	{
		margin-left: 0.5%;
		max-width: 150px;
		border-radius: 20px 0 0 20px;
	}

	.B p
	{	
		font-size: 0.8em;
		margin-top: -2%;
		margin-right: -30%;
		margin-left: 8%;
		margin-bottom: 40%;
	}

	#etoiles
	{
		margin-top: 20%;
	}
    
	.B h3
	{
		font-size: 0.9em;
		margin-bottom: 10%;
		margin-right: -30%;
		margin-left: 8%;
	}

	#chambre
	{
		margin-top: -10%;
	}

	.B i
	{
		margin-top: -10%;
	}

	#aside
	{
		width: 89.1%;
		max-width: 500px;
		margin: auto;
	}

	#hebergements /* Article 1 sur version mobile */
	{
		order: 2;
		width: 99%;
		height: 31.61%;
		background-color: white;
		margin-bottom: 5%;
	}

	#hebergement2
	{
		align-items: center;
		width: 99%;
	}
	#hebergements h2
	{
		text-align: center;
		margin-left: 0;
		font-size: 1.35em;
		margin-left: -6%;
	}


	.case
	{	
		width: 99%;
		max-width: 400px;
		height: 180px;
		max-height: 195px;
		text-align: left;
		margin-bottom: 4%;
	}
	.case h3
	{
		margin-bottom: 8%;
		font-size: 1em;
		margin-top: 2%;
		margin-left: 4%;
	}

	.case p
	{	
		font-size: 0.8em;
		margin-top: -6%;
		margin-bottom: 6%;
		margin-left: 4%;
	}

	#afficher a
	{
		text-decoration: none;
		color: black;
	}

	#afficher
	{
		margin-bottom:1%;
		text-align: left;
		margin-left: 0;
	}

	#activites /* Article 2 sur version mobile */
	{
		order: 3;
		width: 99.5%;
		height: 60%;
		margin-left: 1%;
		margin-bottom: 9%;
	}

	#activites2
	{
		height: 95%;
		width: 99.5%;
		align-items: center;
	}

	#activites h2
	{
		text-align: left;
		margin-left: 5%;
	}

	#activites2 img
	{
		height: 71.05%;
	}

	.activites_grandes
	{	
		width: 89.1%;
		max-width: 400px;
		height: 192px;
		margin-bottom: 5%;
		margin-left: 2%;
	}

	.activites_pomegues
	{
		width: 89.1%;
		max-width: 400px;
		height: 192px;
		margin-bottom: 5%;
		margin-left: 2%;
	}

	.activites_frioul
	{
		width: 89.1%;
		max-width: 400px;
		height: 192px;
		position: static;
		margin-bottom: 5%;
		margin-left: 2%;
	}

	.activites_garde
	{
		width: 89.1%;
		max-width: 400px;
		height: 192px;
		margin-bottom: 5%;
		margin-left: 2%;
	}

	.activites_longchamp
	{
		width: 89.1%;
		max-width: 400px;
		height: 192px;
		position: static;
		margin-bottom: 5%;
		margin-left: 2%;
	}


	footer /*Footer sur version mobile */
	{
		order: 4;
		width: 98%;
		height: 550px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: auto;
		text-align: left;
		padding-right: 0;
		padding-left: -10%;
	}


	footer li
	{
		margin-bottom: 3%;
		font-size: 0.9em;
	}
	.titre
	{
		margin-bottom: 20px;
	}

	footer ul
	{
		margin-left: -5%;
	}

	#a_propos
	{
		margin-bottom: -20px;
	}

	#nos_hebergements
	{
		margin-bottom: -20px;
	}

}

@media all and (min-width: 768px) and (max-width: 1024px) /* Format Tablette */
{
	#bloc_page /* parametres page sur tablette */
{
	font-family: raleway-bold,'Trebuchet MS', Arial, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	margin-left:0;	
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

	
	#logo_nav /* En-tête tablette */
	{
		width: 95%;
	}

	#logo_nav img
	{
		height: 70%;
		width: 30%;
	}
	#nav_1
	{
		margin-left: 30%;
	}

	#nav_2
	{
		margin-left: 40px;
	}

	#cherche p
	{
		display: none;
	}

	#localisation button
	{
		width: 4em;
	}

	#localisation i
	{
		margin-right: 30%;
	}

	#recherche input
	{
		width: 45%;
		margin-left: -2%;
	}

	#cherche button
	{
		width: 4em;
	}

	#cherche i
	{
		color: white;
	}

	#text_button
	{
		display: none;
	}

	#filtres
	{
		width: 100%;
		margin-right: -30%;
	}
	#chien i
	{
		margin-top:-0.5px;
	}

	#populaires /* Aside sur version tablette */
	{
		width: 95%;
		height: 250px;
		order: 1;
	}

	#aside
	{	
		height: 70%;
		width: 98%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 0;
		margin-left: 0;
	}

	#populaires h2
	{
		text-align: center;
		font-size: 1.5em;
	}

	.A
	{	
		margin-top: 2%;
		height: 70%;
		width: 31%;
		max-width: 250px;
	}
	.A img
	{
		margin-left: -2%;
	}

	.A h3
	{	
		font-size: 0.9em;
		margin-right: -5%;
	}

	.A p
	{
		font-size: 0.7em;
		margin-right: -10%;
	}

	.B img
	{
		margin-left: -2%;
	}

	.B h3
	{	
		font-size: 0.9em;
		margin-bottom: 15%;
		margin-right: -30%;
	}
	.B p
	{
		margin-top: 17%;
		font-size: 0.7em;
		margin-bottom: -10%;
		margin-right: -30%;
	}
	#etoiles
	{
		margin-top: 17%;
	}
	#chambre
	{
		margin-top: -15%;
	}

	h2 i
	{
		margin-left: 10%;
	}

	.B
	{
		height: 70%;
		width: 31%;
		max-width: 250px;
		margin-top: 2%;
	}

	#hebergements /* Article 1 tablette */
	{
		background-color: #F2F2F2;
		height: 680px;
		width: 97%;
		padding-top:1.5%;
		border-radius: 10px;
		margin-top: 3%;
		order: 2;
	}

	#hebergements2
	{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:auto;
	height: 80%;
	width: 91%;
	}
	#hebergements h2
	{
		text-align:center;
		margin-left: -5%;
	}

	.case
	{
		width: 40%;
		height: 30%;
		max-width: 350px;
	}

	.case h3
	{	
		margin-top: 2%;
		font-size: 0.9em;
		margin-bottom: 8%;
	}

	.case p
	{
		font-size: 0.7em;
		margin-bottom: 6%;
	}

	#afficher
	{
		margin-top:4%;
		margin-left: -5%;
		text-align: center;
	}


	#activites /* article 2 version tablette */
	{
		order: 3;
		width: 100%;
		height: 40%;
		margin-left: 1%;
		margin-top: 5%;
	}

	#activites h2
	{
		margin-left: 5%;
	}

	#activites p
	{
		text-align: center;
	}
	

	#activites2 img
	{
		height: 71.05%;
	}

	.activites_grandes
	{	
		width: 30%;
		max-width: 335px;
		height: 40%;
		max-height: 190px;
		margin-bottom: 5%;
		margin-left: 2%;
	}

	.activites_pomegues
	{
		width: 30%;
		max-width: 335px;
		height: 40%;
		max-height: 190px;
		margin-bottom: 5%;
		margin-left: 2%;
	}

	.activites_frioul
	{
		width: 30%;
		max-width: 335px;
		height: 40%;
		max-height: 190px;
		position: static;
		margin-bottom: 5%;
		margin-left: 2%;
	}

	.activites_garde
	{
		width: 30%;
		max-width: 335px;
		height: 40%;
		max-height: 190px;
		margin-bottom: 5%;
		margin-left: 2%;
	}

	.activites_longchamp
	{
		width: 30%;
		max-width: 335px;
		height: 40%;
		max-height: 190px;
		position: static;
		margin-bottom: 5%;
		margin-left: 2%;
	}


	footer
	{	
		order: 4;
		width: 74%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		;	
		margin-left: -5%;
		margin-top: -2%;
	}

	footer ul
	{
		margin-left: 5%;
	}

	footer li
	{
		margin-bottom: 2%;
	}
}

@media all and (min-width: 1920px)
{
	
	#bloc_page /* Mise en place de la police */
{
	font-family: "raleway-bold",'Trebuchet MS', Arial, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: black;
	margin-left: 3.3%;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1600px;
	margin: auto;
	margin-top:10px;
}

a:visited /*Garder les liens hypertextes même après visite*/
{
	color: #0065FC;
}

/*header*/

header
{
	width: 90%;
}
#reservia /* Placement et dimensions du logo */
{
	width: 30%;
	min-width: 100px;
	height:80%;
	min-height: 50px;
	margin-top: 1.5%;
	margin-bottom: 2.4%;
}

header h1 /*Gestion du titre dans l'en-tête*/
{
	font-size: 1.2em;
	font-weight: bold;

}

header a /* Afficher les hypertextes correctement */
{
	color: #0065FC ;
	text-decoration: none;
}

nav
{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#nav_1
{
	margin-left: 48%;
	margin-top: -10px;
	padding-top: 50px;
	text-align: center;
	width: 15%;
}

#nav_1:hover
{
	border-top: 2px solid  #0065FC ;
}

#nav_2 a
{
	color: black;

}

#nav_2
{
	margin-left: 30px;
	margin-top: -10px;
	padding-top: 50px;
	text-align: center;
	width: 15%;
}

#nav_2:hover
{
	border-top: 2px solid  black ;
}

#nav_3
{	
	font-weight: bold;
	margin-left: 30px;
	font-size: 0.9em;
	margin-top: -10px;
	padding-top: 50px;
	text-align: center;
	width: 15%;
}

#nav_3:hover
{
	border-top: 2px solid  #0065FC ;
}


header p
{
	font-size: 0.9em;
}

/*Boutons filtres*/
#filtres
{
	margin-right: 20%;
	font-weight: bold;
}

#filtres a
{
	color: black;
	text-decoration:none;
}

#filtres button:hover /* Reaction du lien lors du survol */
{
	background-color: #0065FC;
	color: white;
	border: 1px solid rgb(21,50,164);
	
}

#filtres i
{
	padding: 0.75em;
	margin-right: 1em;
	margin-left: -15%;
	margin-top: -0.75%;
	border: 0px black solid;
	border-radius: 10em;
	background-color: #DEEBFF;
	color: #0065FC;
}

#bonhomme i
{
	width: 15%;
	margin-top: -1%;
}
#filtres button
{
	font-size: 1em;
	height: 2.5em;

	padding-right: 2%;
	margin-top: 3.4%;
	margin-right: 2%;

	border: 0.15px #D9D9D9 solid;
	border-radius: 10em;
	background-color: white;
	vertical-align: sub;
}



#filtres h2
{
	display: inline;
	font-size: medium;
	font-weight: bolder;
	margin-right: 2.1%;
}

/*Boutons de recherche*/
#recherche
{
	display: flex;
}

#recherche button
{
	background-color: #0065FC;
	font-weight: bold;
	font-size: 1.0em;
	color: white;
	height: 100%;
	width: 110%;
	border-radius: 0px 10px 10px 0px;
	border: 0px black solid;
	margin-left: -2%;

}

#cherche i
{
	color: #0065FC;
}
#text_button
{
	margin-left: -13%;
}
#recherche input
{	
	padding-left: 1%;
	width: 20%;
	height: 2.6em;
	border: 0.15px #F2F2F2 solid;
	font-size: 1.1em;
}
#localisation button
{
 	background-color: #F2F2F2;
 	color: black;
 	width: 3em;
 	height: 100%;
 	margin-right: -5px;
 	border-radius: 10px 0px 0px 10px;
}

/* image sous les filtres */
#info i
{
	font-size: 1em;
	height: 1em;
	color: #0065FC;

	padding: 5px 9px 5px;
	margin-right: 13px;

	border: 0.15px #D9D9D9 solid;
	border-radius: 10em;
	background-color: white;
}

#info
{
	color: #2D2D2D;
}

form p
{
	color: #202020;
}

/* Section 1*/
#hebergements a:hover
{
	text-decoration: underline
}

.case
{
	background-color: white;
	height: 40%;
	width: 31%;
	margin: auto;
	margin-bottom: 3%;
	
	padding-top: 0.5%;
	border-radius: 10px;
	box-shadow: 1px 1px 5px grey;
}


.case img /* Reduction des images */
{	
	object-fit: cover;
	height: 57%;
	width: 96.6%;
	border-radius: 10px 10px 0 0;
	display: block;
	margin:auto;
}


#hebergements
{
	background-color: #F2F2F2;
	height: 626px;
	width: 61.2%;
	padding-top:2.5%;
	border-radius: 10px;
	margin-top: 3%;
}
#hebergements h2
{
	margin-left: 5%;
	margin-top: 1.5%;
}
#afficher a
{
	margin-left: 5%;
	font-weight: bold;
	text-decoration: none;
	color: black;
}


#hebergements2 /* Mise en place des boîtes cliquables de l'article 1*/
{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 10px;
	margin:auto;
	height: 68.7%;
	width: 91%;
}


.case h3
{	
	font-weight: bold;
	font-size: 0.9em;
	margin-top: 2%;
	margin-left: 8%;
}

.case p
{
	font-size: 0.7em;
	margin-top: -5%;
	margin-left: 8%;
}

.case i
{
	color: #0065FC ;
	margin-top: 2%;
	font-size: 0.8em;
}
.case a
{
	text-decoration: none;
	color: black;
}


/*Aside*/
#aside a
{
	color: black;
	text-decoration: none;
}

#aside a:hover
{
	text-decoration: underline;
}

#populaires
{
	background-color: #F2F2F2;
	width: 30%;
	height: 642px;
	padding-top:1.5%;
	padding-left: 2.3%;
	border-radius: 10px;
	margin-top: 3%;
	position: relative;
	right: 0;
}

#aside
{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	width: 82.10%;
	height: 80%;
	background-color: #F2F2F2;
	margin-top: 13%;

}

.A
{
	margin-top: -4%;
	width: 100%;
	height: 27%;
	max-width: 350px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	
	box-shadow: 1px 1px 5px grey;
	border-radius: 10px;
	font-size: 1em;
	padding-left: 1%;


	background-color: white;

}

.A img
{
	width: 37.2%;
	height: 93.75%;
	border-radius: 10px 0px 0px 10px;
	margin: auto;
	margin-left: 0.5%;
}

.A a
{
	padding-right: 1%;
	margin-left: 1%;
	
}

.A h3
{
	font-size: 0.9em;
	margin-right: 20%;
}

.A p
{
	font-size: 0.7em;
	margin-right: 20%;
}

.B
{	
	margin-top: -4%;
	width: 100%;
	height: 27%;
	max-width: 350px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	
	box-shadow: 1px 1px 5px grey;
	border-radius: 10px;
	font-size: 1em;
	padding-left: 1%;
	background-color: white;


}

.B img
{
	width: 37.2%;
	height: 93.75%;
	border-radius: 10px 0px 0px 10px;
	margin: auto;
	margin-left: 0.5%;
}

.B a
{
	padding-right: 15.5%;
	margin-left: 1%;

}

.B h3
{
	font-size: 0.9em;
	margin-bottom: -9%;
	margin-right: -10%;
}
#etoiles
{
	margin-top: 13%;
}

.B p
{
	margin-top: 18%;
	font-size: 0.7em;
}

.B i 
{
	color: #0065FC ;
	margin-top: 2%;
	font-size: 0.8em;
}

.A i
{
	color: #0065FC ;
	margin-top: 2%;
	font-size: 0.8em;
}

h2 i
{
	margin-left: 15%;
}



/* Article 2*/
#activites
{
	width: 93.1%;
	height: 26.1%;
	position: relative;
	margin-bottom: 3.3%;
	left: -1.2%;

	
}

#activites2
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 447px;
	width: 100%;
	margin-left: -1%;

	
}

#activites a:hover
{
	text-decoration: underline;
}

#activites2 a
{
	margin-right: 0.3%;
	margin-bottom: 8.6%;
	text-decoration: none;
	color: black;

}

#activites2 h3
{
	margin-left: 6.25%;
	font-size: 0.9em;
	font-weight: bold;
}


.activites_grandes
{	
  	height: 100%;
	width: 22.6%;
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
	
}

.activites_pomegues
{
	height: 50.3%;
	width: 22.6%;
	
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
}

.activites_frioul
{
	height: 36.7%;
	width: 22.6%;
	
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	left: 25.4%;
}

.activites_garde
{
	height: 42%;
	width: 22.6%;
	
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
}

.activites_longchamp
{
	height: 45%;
	width: 22.6%;
	
	border: 0px black solid;
	box-shadow: 5px 5px 5px #f2f2f2;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	right: 2%;
}

.GR
{	
	object-fit: cover;
	height: 87.4%;
	width:100%;
	border-radius: 10px 10px 0px 0px;
}

#F
{	
	object-fit: cover;
	height: 67.1%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#P
{	
	object-fit: cover;
	height: 75.6%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#G
{	
	object-fit: cover;
	height: 70.9%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

#L
{	
	object-fit: cover;
	height: 73.2%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

/*Footer*/

footer
{
	background-color: #F2F2F2;
	
	
	width: 67%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: 30%;
}

footer ul
{
	list-style-type: none;
}

footer li:hover
{
	text-decoration: underline;
}

footer li
{
	font-size: 0.8em;
	margin-bottom: 8%;
	color: #2D2D2D;
}

.titre
{
	font-weight: bold;
	font-size: 1em;
	color: black;
}
#a_propos a
{
	color: black;
	text-decoration: none;
}

#nos_hebergements a
{
	color: black;
	text-decoration: none;
}

#assistance a
{
	color: black;
	text-decoration: none;
}
.titre:hover
{
	text-decoration: none;
}
}